#map {
    height: 400px;
}

.leaflet-marker-icon.selectedMarker {
    border: 1px solid gold;
    color: brown;
}

.ui-slider-handle{
    width: 20px !important;
}

.ui-slider-horizontal {
    height: 1.3em;
    color:#9e2c18
}

.ui-slider-range{
    background: #a3a3a3;
}

.ui-slider .ui-slider-handle { height: 1.3em; }
.ui-slider-horizontal .ui-slider-handle { top: -0.08em; }

div.hidden
{
   display: none
}
